<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>SoXReverb</string>
			<key>factoryFunction</key>
			<string>SoXReverbAUFactory</string>
			<key>manufacturer</key>
			<string>DrTT</string>
			<key>name</key>
			<string>DrTT: SoX Reverb</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>rvrb</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
        <key>BuildMachineOSBuild</key>
	    <string>19H1217</string>
	<key>CFBundleDevelopmentRegion</key>
            <string>English</string>
	<key>CFBundleExecutable</key>
            <string>SoXReverb</string>
	<key>CFBundleIdentifier</key>
	    <string>eu.tensi.thomas.SoXPlugins.SoXReverb</string>
	<key>CFBundleName</key>
            <string>SoXReverb</string>
	<key>CFBundlePackageType</key>
            <string>BNDL</string>
	<key>CFBundleShortVersionString</key>
            <string>1.0.0</string>
	<key>CFBundleSignature</key>
            <string>????</string>
        <key>CFBundleSupportedPlatforms</key>
	    <array><string>MacOSX</string></array>
	<key>CFBundleVersion</key>
            <string>1.0</string>
	<key>CSResourcesFileMapped</key> <true/>
        <key>LSMinimumSystemVersion</key><string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	    <string></string>
	<key>NSMainNibFile</key>
	    <string>RecentFilesMenuTemplate.nib</string>
	<key>NSPrincipalClass</key>
	    <string>SoXReverb</string>
</dict>
</plist>
